* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(247, 241, 241);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
    margin-top: 50px;
}

.instagram-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin: 10px;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid rgb(196, 192, 192);
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 10rem;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.group p {
    color: rgb(160, 160, 160);
    text-align: center;
}

.instagram-logo {
    height: 3rem;
}

.btn-instagram-login {
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.btn-instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.instagram-link {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.3rem 0;
}

.app-store{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download-android img {
    height: 4.5rem;
    width: 11rem;
    background-size: cover;
}
.app-download img {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {

    body{
        background-color: #fff;
    }

    .group {
        border: 1px solid #fff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-login {
        width: 100%;
    }
}